<html>
	<head>
		<title>Job Nic</title>
	    <script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>
		<style>
	        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
	        
		    body {
		        font-family: 'Montserrat', sans-serif;
		    }
			.all {
				text-align: center;
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.link {
	            text-decoration: none;
	            color: black;
			}
		</style>
	</head>
	<body>
		<div class="all">
			<h2>This is Job Nic</h2>
			<p>But, we are still opening up</p>
			<p>
				<a href="https://linkedin.com/company/jobnic" class="link"><i class="fa fa-linkedin"></i></a>
				&nbsp;
				<a href="https://t.me/Job_Nic" class="link"><i class="fa fa-telegram"></i></a>
			</p>
			<p><b>Job Nic</b> is working under <b><a href="http://neotrinost.ir" class="link">Neotrinost LLC</a></b></p>
			<p>
				<a href="https://linkedin.com/company/neotrinost" class="link"><i class="fa fa-linkedin"></i></a>
				&nbsp;
				<a href="https://t.me/neotrinost" class="link"><i class="fa fa-telegram"></i></a>
				&nbsp;
				<a href="https://github.com/Neotrinost" class="link"><i class="fa fa-github"></i></a>
			</p>
		</div>
	</body>
</html
